#root {
  width: 100%;
  margin: 0 auto;
  background: white;
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.carousel-container {
  width: 100%;
}

.dotless-steps {
  /* border-radius: 9% 91% 21% 79% / 65% 23% 77% 35% !important;
  background: rgb(26,122,198);
  background: linear-gradient(90deg, rgba(26,122,198,0.7567401960784313) 27%, rgba(9,208,241,1) 96%, rgba(0,212,255,1) 100%);
  box-shadow:  5px 5px 10px #5a5a5a,
             -5px -5px 10px #ffffff; */
             background: rgb(235,240,241);
             background: linear-gradient(90deg, rgba(235,240,241,1) 0%, rgba(228,228,236,1) 65%, rgba(230,231,231,1) 100%);
}